# Laravel & PHP
/vendor
/.phpunit.cache
/.phpunit.result.cache
/storage/*.key
/storage/logs/
/storage/framework/
.env
.env.*
composer.lock

# Node & Frontend
/node_modules
/public/build
/public/hot
/public/storage

# IDE & Editor
/.idea
/.vscode
/.fleet

# System & Misc
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# GitHub & CI
.github

# Others
*.log
*.bak
*.tmp